<div class="score_d">

  <div class="score_total">
    <p>TOTAL</p>
  </div>

  <div class="score_c">
    <p><%= score.score %></p>
  </div>

  <div class="score_date">
    <%= l score.created_at %>
  </div>
  
</div>