<div class="score_d">

  <div class="score_total">
    <i><p>TOTAL</p></i>
  </div>

  <div class="score_c">
    <b><p><%= score.score %></p></b>
  </div>

<div class="user_name">
  <%= score.user.nickname %>
  </div>

  <div class="score_date">
    <%= l score.created_at %>
  </div>

  
</div>