.form-input {
  margin-top: 100px;
  margin-left: 50px;
  padding: 10px;
}

.form-score {
  width: 100px;
  
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


#score_b {
  margin: 15px;
}

.score_d {
display: flex;
align-items: center;
border-bottom: black 1px solid;
}

.score_date {
  margin: 0 0 0 auto;
}

.score_total {
  color: rgb(7, 97, 67);
}

.score_c {
  margin-left: 20px;
}

.score_destroy {
  display: flex;
  justify-content: space-between;
}

.score_destroy_solo {
  background-color: blanchedalmond;
  border: black 1px solid;
  margin: 5px 0 0 10%;
  padding: 0 10px 0 10px;
}

.score_destroy_all {
  background-color: rgb(201, 184, 159);
  border: black 1px solid;
  margin: 5px 10% 0 0;
  padding: 0 10px 0 10px;
}

.ranking_all {
  color: rgb(0, 0, 185);
  margin-left: 80%;
}